@import "tailwindcss";

:root {
    --font-heading: var(--font-roboto);
    --font-body: var(--font-poppins);
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-heading);
}


p,
span,
div,
a,
button,
input,
textarea,
select,
label {
    font-family: var(--font-body);
}

@theme {
    --font-roboto: var(--font-roboto);
    --font-poppins: var(--font-poppins);
}




.goog-te-banner-frame {
    display: none !important;
}

body {
    top: 0px !important;
}

.goog-te-gadget {
    height: 0;
    overflow: hidden;
}

#google_translate_element {
    display: none !important;
}

.skiptranslate iframe {
    display: none !important;
}